/.gradle/
/.gradle-docker/
/.idea/
/.kotlin/
/.cxx/
/build/
/captures/
/local.properties
/signing.jks
/signing.properties
.DS_Store
*.iml

# Logs
*.log
logs/

# Binary and build files
bin/
out/
*.class
*.jar
*.war
*.aar
*.apk
*.aab

# Other
.stignore
